.row {
    margin: 0 -15px !important;
}
*, :after, :before {
    box-sizing: border-box;
}
.block-wrapper {
    border: 4px solid #e7211a;
    border-radius: 15px;
    padding: 15px;
    color: #181818;
    height: 100%;
    margin: 0 !important;
}
.block-icon {
    text-align: center;
}
.block-icon i {
    color: #e7211a;
    font-size: 50px;
}
.block-detail {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
.block-detail-label {
    font-weight: bold;
}
.block-button {
    text-align: center;
}
.profile-wrapper .input-field {
    width: 100%;
    padding: 0.175em 1.6em !important;
}
.box-shadow:hover {
    -webkit-box-shadow: 0 10px 23px -10px #777;
    -moz-box-shadow: 0 10px 23px -10px #777;
    box-shadow: 0 10px 23px -10px #777;
}
.block-button .select_container .subscription-action,
.block-button .select_container .subscription-action:focus {
    background-color: #eb5c24 !important;
    color: #ffffff;
    font-weight: 700;
    padding: 1em 3em !important;
}
.block-button .select_container::before,
.block-button .select_container::after {
    display: none;
}
.block-button .select_container {
    width: 50%;
    margin: 0 auto;
}